.main_title {
    text-align: center;
    margin-bottom: 30px;
}

.main_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_date {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.main_date span {
    margin-right: 4px;
}

.number_input {
    width: 60px;
    margin: 0 10px;
}

p.date {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}